@font-face {
  font-family: 'meringue';
  src: url('../assets/fonts/TAN MERINGUE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --header-font: 'Meringue', serif;
  --red: #772222;
  --dark-brown: #411E03;
  --brown: #A67244;
  --light-brown: #F2DDB6;
  --green: #73672F;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}