@import url("App.css");

body {
    background-color: var(--medium-brown);
}

.test {
    /* This is crucial for the child's absolute positioning */
    position: relative;
    /* Example dimensions (use values appropriate for your layout) */
    width: 100%;
    height: 300px;
    /* Optional: visual aid */
    border: 2px solid blue;
}

/* 📱 Basis-Stile (Gültig für alle Größen, aber optimiert für Mobile) */
.corner-image {
    position: absolute;
    /* Kleiner, responsiver Abstand zum Rand für kleine Bildschirme */
    top: -5vh;
    right: -2vw;
    /* Proportionale Größe, die auf kleinen Bildschirmen gut aussieht */
    width: 12vw;
    height: auto;
    z-index: 10;
}

/* INTRO */
.intro {
    height: 100vh;
    display: flex;
    position: relative;
    margin: 0 0 10rem 0;
}

.intro::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 70px;
    width: 130%;
    left: -50px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 600'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M-1,80c266.64,0,533.359,0,800,0c0,12.999,0,501.301,0,514.3c-1.979-0.251-3.19-1.51-5.5-1c-2.073,0.458-4.398,3.336-8,2c-1.363-0.506-0.945-1.542-3-2c-4.889,6.421-17.787,5.443-26.5,3.5c-5.321-1.187-7.796,2.695-12,1.5c-2.144-0.609-2.77-3.334-5-2.5c-2.848,0.736-2.954,2.354-7,2.5c-0.38-0.469-4.143-3.869-4.5-4c-2.584-0.948-6.562,0.988-8.5-0.5c-0.765-0.587-1.982-3.179-2.5-4c-3.338,1.996-12.865,4.709-19,3c-2.279-0.635-3.527-4.016-7-3c-0.5,0.5-1,1-1.5,1.5c-3.666,0-7.334,0-11,0c-2.354,0.689-6.891,2.412-9,3c-2.5-0.333-5-0.667-7.5-1c-4.039,1.34-3.785,4.881-11,5c-2.197-3.009-4.073-1.426-8.5-2.5c-0.238-0.058-0.982-1.084-1.5-1c-1.27,0.206-2.033,2.104-4.5,1.5c-2.456-0.601-4.021-3.434-6-4c-2.458-0.703-5.953,1.17-8.5-0.5c-1.283-0.842-2.55-3.348-4-4c-1.666-0.167-3.334-0.333-5-0.5c-0.666-0.667-1.334-1.333-2-2c-2.108-0.574-2.424,1.148-3.5,1.5c-2.5,0-5,0-7.5,0c-1.213,0.372-2.324,1.938-4.5,1.5c-2.477-0.498-3.352-2.81-5-3.5c-2.5,0.167-5,0.333-7.5,0.5c-0.653-0.161-2.545-1.396-3-1.5c-2.496-0.57-6.471,1.454-8,2c-2.333,0-4.667,0-7,0c-3.384,1.001-8.081,1.086-11.5,2c-3,0.167-6,0.333-9,0.5c-2.076,0.81-5.334,2.928-7.5,3.5c-4.587,1.211-14.058-4.523-17.5-4c-8.551,1.3-15.195,5.692-23,7c-4.572,0.766-8.705-2.709-14-1c-2.795,0.902-3.689,2.417-8,2.5c-0.082-0.11-14.328-8.949-14.5-9c-2.576-0.767-9.65,1.133-13.5,0.5c-1.744-0.287-1.166-2.031-3.5-1.5c-0.5,0.5-1,1-1.5,1.5c-4,0-8,0-12,0c-0.5,0.667-1,1.333-1.5,2c-2.643,1.622-6.873,0.754-9.5,0c-2.666,0-5.334,0-8,0c-2.848-0.902-13.672-4.712-16-1c-1.175,1.527-0.919,3.418-1.5,4.5c-0.59,0.401-0.841,0.387-2,0.5c-2.2-2.122-7.899,1.788-10,1c-1.471-0.552-1.547-1.891-4.5-2c0,0.333,0,0.667,0,1c0.376,0.536,0.301,0.473,0.5,1.5c-1.024,0.356-2.337,0.497-4,0.5c-0.573-0.728-1.001-1.1-1.5-2c-3.663,2.891-16.4,7.378-24,5c-1.621-0.507-1.684-2.654-4.5-2c-0.333,0.333-0.667,0.667-1,1c-4.166-0.167-8.334-0.333-12.5-0.5c-1.505,0.609-5.567,3.475-9,2.5c-0.5-0.5-1-1-1.5-1.5c-2.5-0.167-5-0.333-7.5-0.5c-0.5-0.5-1-1-1.5-1.5c-2.686-1.046-5.182-0.016-7.5-1c-1.642-0.697-2.621-2.479-4.5-3c-4.166-0.167-8.334-0.333-12.5-0.5c-0.951-0.283-1.863-1.735-2.5-2c-2.833,0-5.667,0-8.5,0c-1.544,1.963-6.576,5.229-9,6c-5-0.167-10-0.333-15-0.5c-0.333,0.5-0.667,1-1,1.5c-5.854,2.65-14.461-3.294-18-5c-2.541-1.225-3.66,1.546-6,1c-3.339-0.778-7.41-3.668-11.5-4c-3.641,5.078-8.567,0.247-13.5-0.5c-4.897-0.742-8.296,4.77-14,2.5c-2.632-1.048-6.404-4.41-11.5-3c-3.154,0.873-6.272,4.116-9.5,5c-2.915,0.798-5.877-1.014-8-1.5c-5.647-1.293-8.433,2.647-13,1.5c-2.042-0.513-3.28-2.318-5-3c-2.586-1.025-4.607-0.723-7-2c-0.667-0.667-1.333-1.333-2-2c-4,0-8,0-12,0c-0.788-0.266-1.711-1.735-2.5-2c-2.288-0.769-15.792-0.718-17.5,0c-1.283,0.539-3.721,2.519-5.5,3c-2.606,0.705-3.513-0.84-6-1c-0.985,1.586-2.277,2.684-3.5,4c-5.542,0.053-10.706-0.618-15-1c-1.055,1.718-1.689,2.406-4.5,2.5c-1.013-1.06-1.471-1.325-3.5-1.5c-0.986,1.424-1.506,1.507-4,1.5c-1.993-1.967-3.643-0.51-7-1.5c-1.853-0.546-7.212-4.996-10-4c-0.654,0.233-2.018,1.861-3,2c-2.529,0.358-3.821-3.567-7-2c-3.888,1.916-6.714,5.653-12,6c-6.722-5.98-12.787,1.042-18,2C-1,580.968-1,92.832-1,80z'/%3E%3C/svg%3E") bottom;
    background-size: 200%;
}

.intro-background-elements {
    position: absolute;
    top: 0;
    left: -2rem;
    right: -2rem;
    width: auto;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.intro-card {
    margin: auto;
    background: var(--light-brown);
    position: relative;
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 30%);
}

.intro-card h1 {
    font-size: 4rem;
}

.quote {
    font-family: var(--quotes-font), serif;
    color: #000;
    text-align: center;
    background-color: var(--brown);
    margin: 1rem 1rem 3rem 1rem;
    position: relative;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote p {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
}

.intro-card p::before {
    content: "";
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    left: 0;
    transform: rotate(180deg) scaleX(1);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 600'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23A67244' d='M-1,80c266.64,0,533.359,0,800,0c0,12.999,0,501.301,0,514.3c-1.979-0.251-3.19-1.51-5.5-1c-2.073,0.458-4.398,3.336-8,2c-1.363-0.506-0.945-1.542-3-2c-4.889,6.421-17.787,5.443-26.5,3.5c-5.321-1.187-7.796,2.695-12,1.5c-2.144-0.609-2.77-3.334-5-2.5c-2.848,0.736-2.954,2.354-7,2.5c-0.38-0.469-4.143-3.869-4.5-4c-2.584-0.948-6.562,0.988-8.5-0.5c-0.765-0.587-1.982-3.179-2.5-4c-3.338,1.996-12.865,4.709-19,3c-2.279-0.635-3.527-4.016-7-3c-0.5,0.5-1,1-1.5,1.5c-3.666,0-7.334,0-11,0c-2.354,0.689-6.891,2.412-9,3c-2.5-0.333-5-0.667-7.5-1c-4.039,1.34-3.785,4.881-11,5c-2.197-3.009-4.073-1.426-8.5-2.5c-0.238-0.058-0.982-1.084-1.5-1c-1.27,0.206-2.033,2.104-4.5,1.5c-2.456-0.601-4.021-3.434-6-4c-2.458-0.703-5.953,1.17-8.5-0.5c-1.283-0.842-2.55-3.348-4-4c-1.666-0.167-3.334-0.333-5-0.5c-0.666-0.667-1.334-1.333-2-2c-2.108-0.574-2.424,1.148-3.5,1.5c-2.5,0-5,0-7.5,0c-1.213,0.372-2.324,1.938-4.5,1.5c-2.477-0.498-3.352-2.81-5-3.5c-2.5,0.167-5,0.333-7.5,0.5c-0.653-0.161-2.545-1.396-3-1.5c-2.496-0.57-6.471,1.454-8,2c-2.333,0-4.667,0-7,0c-3.384,1.001-8.081,1.086-11.5,2c-3,0.167-6,0.333-9,0.5c-2.076,0.81-5.334,2.928-7.5,3.5c-4.587,1.211-14.058-4.523-17.5-4c-8.551,1.3-15.195,5.692-23,7c-4.572,0.766-8.705-2.709-14-1c-2.795,0.902-3.689,2.417-8,2.5c-0.082-0.11-14.328-8.949-14.5-9c-2.576-0.767-9.65,1.133-13.5,0.5c-1.744-0.287-1.166-2.031-3.5-1.5c-0.5,0.5-1,1-1.5,1.5c-4,0-8,0-12,0c-0.5,0.667-1,1.333-1.5,2c-2.643,1.622-6.873,0.754-9.5,0c-2.666,0-5.334,0-8,0c-2.848-0.902-13.672-4.712-16-1c-1.175,1.527-0.919,3.418-1.5,4.5c-0.59,0.401-0.841,0.387-2,0.5c-2.2-2.122-7.899,1.788-10,1c-1.471-0.552-1.547-1.891-4.5-2c0,0.333,0,0.667,0,1c0.376,0.536,0.301,0.473,0.5,1.5c-1.024,0.356-2.337,0.497-4,0.5c-0.573-0.728-1.001-1.1-1.5-2c-3.663,2.891-16.4,7.378-24,5c-1.621-0.507-1.684-2.654-4.5-2c-0.333,0.333-0.667,0.667-1,1c-4.166-0.167-8.334-0.333-12.5-0.5c-1.505,0.609-5.567,3.475-9,2.5c-0.5-0.5-1-1-1.5-1.5c-2.5-0.167-5-0.333-7.5-0.5c-0.5-0.5-1-1-1.5-1.5c-2.686-1.046-5.182-0.016-7.5-1c-1.642-0.697-2.621-2.479-4.5-3c-4.166-0.167-8.334-0.333-12.5-0.5c-0.951-0.283-1.863-1.735-2.5-2c-2.833,0-5.667,0-8.5,0c-1.544,1.963-6.576,5.229-9,6c-5-0.167-10-0.333-15-0.5c-0.333,0.5-0.667,1-1,1.5c-5.854,2.65-14.461-3.294-18-5c-2.541-1.225-3.66,1.546-6,1c-3.339-0.778-7.41-3.668-11.5-4c-3.641,5.078-8.567,0.247-13.5-0.5c-4.897-0.742-8.296,4.77-14,2.5c-2.632-1.048-6.404-4.41-11.5-3c-3.154,0.873-6.272,4.116-9.5,5c-2.915,0.798-5.877-1.014-8-1.5c-5.647-1.293-8.433,2.647-13,1.5c-2.042-0.513-3.28-2.318-5-3c-2.586-1.025-4.607-0.723-7-2c-0.667-0.667-1.333-1.333-2-2c-4,0-8,0-12,0c-0.788-0.266-1.711-1.735-2.5-2c-2.288-0.769-15.792-0.718-17.5,0c-1.283,0.539-3.721,2.519-5.5,3c-2.606,0.705-3.513-0.84-6-1c-0.985,1.586-2.277,2.684-3.5,4c-5.542,0.053-10.706-0.618-15-1c-1.055,1.718-1.689,2.406-4.5,2.5c-1.013-1.06-1.471-1.325-3.5-1.5c-0.986,1.424-1.506,1.507-4,1.5c-1.993-1.967-3.643-0.51-7-1.5c-1.853-0.546-7.212-4.996-10-4c-0.654,0.233-2.018,1.861-3,2c-2.529,0.358-3.821-3.567-7-2c-3.888,1.916-6.714,5.653-12,6c-6.722-5.98-12.787,1.042-18,2C-1,580.968-1,92.832-1,80z'/%3E%3C/svg%3E") bottom;
    background-size: 200%;
}

.intro-card p::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 20px;
    width: 100%;
    left: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 600'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23A67244' d='M-1,80c266.64,0,533.359,0,800,0c0,12.999,0,501.301,0,514.3c-1.979-0.251-3.19-1.51-5.5-1c-2.073,0.458-4.398,3.336-8,2c-1.363-0.506-0.945-1.542-3-2c-4.889,6.421-17.787,5.443-26.5,3.5c-5.321-1.187-7.796,2.695-12,1.5c-2.144-0.609-2.77-3.334-5-2.5c-2.848,0.736-2.954,2.354-7,2.5c-0.38-0.469-4.143-3.869-4.5-4c-2.584-0.948-6.562,0.988-8.5-0.5c-0.765-0.587-1.982-3.179-2.5-4c-3.338,1.996-12.865,4.709-19,3c-2.279-0.635-3.527-4.016-7-3c-0.5,0.5-1,1-1.5,1.5c-3.666,0-7.334,0-11,0c-2.354,0.689-6.891,2.412-9,3c-2.5-0.333-5-0.667-7.5-1c-4.039,1.34-3.785,4.881-11,5c-2.197-3.009-4.073-1.426-8.5-2.5c-0.238-0.058-0.982-1.084-1.5-1c-1.27,0.206-2.033,2.104-4.5,1.5c-2.456-0.601-4.021-3.434-6-4c-2.458-0.703-5.953,1.17-8.5-0.5c-1.283-0.842-2.55-3.348-4-4c-1.666-0.167-3.334-0.333-5-0.5c-0.666-0.667-1.334-1.333-2-2c-2.108-0.574-2.424,1.148-3.5,1.5c-2.5,0-5,0-7.5,0c-1.213,0.372-2.324,1.938-4.5,1.5c-2.477-0.498-3.352-2.81-5-3.5c-2.5,0.167-5,0.333-7.5,0.5c-0.653-0.161-2.545-1.396-3-1.5c-2.496-0.57-6.471,1.454-8,2c-2.333,0-4.667,0-7,0c-3.384,1.001-8.081,1.086-11.5,2c-3,0.167-6,0.333-9,0.5c-2.076,0.81-5.334,2.928-7.5,3.5c-4.587,1.211-14.058-4.523-17.5-4c-8.551,1.3-15.195,5.692-23,7c-4.572,0.766-8.705-2.709-14-1c-2.795,0.902-3.689,2.417-8,2.5c-0.082-0.11-14.328-8.949-14.5-9c-2.576-0.767-9.65,1.133-13.5,0.5c-1.744-0.287-1.166-2.031-3.5-1.5c-0.5,0.5-1,1-1.5,1.5c-4,0-8,0-12,0c-0.5,0.667-1,1.333-1.5,2c-2.643,1.622-6.873,0.754-9.5,0c-2.666,0-5.334,0-8,0c-2.848-0.902-13.672-4.712-16-1c-1.175,1.527-0.919,3.418-1.5,4.5c-0.59,0.401-0.841,0.387-2,0.5c-2.2-2.122-7.899,1.788-10,1c-1.471-0.552-1.547-1.891-4.5-2c0,0.333,0,0.667,0,1c0.376,0.536,0.301,0.473,0.5,1.5c-1.024,0.356-2.337,0.497-4,0.5c-0.573-0.728-1.001-1.1-1.5-2c-3.663,2.891-16.4,7.378-24,5c-1.621-0.507-1.684-2.654-4.5-2c-0.333,0.333-0.667,0.667-1,1c-4.166-0.167-8.334-0.333-12.5-0.5c-1.505,0.609-5.567,3.475-9,2.5c-0.5-0.5-1-1-1.5-1.5c-2.5-0.167-5-0.333-7.5-0.5c-0.5-0.5-1-1-1.5-1.5c-2.686-1.046-5.182-0.016-7.5-1c-1.642-0.697-2.621-2.479-4.5-3c-4.166-0.167-8.334-0.333-12.5-0.5c-0.951-0.283-1.863-1.735-2.5-2c-2.833,0-5.667,0-8.5,0c-1.544,1.963-6.576,5.229-9,6c-5-0.167-10-0.333-15-0.5c-0.333,0.5-0.667,1-1,1.5c-5.854,2.65-14.461-3.294-18-5c-2.541-1.225-3.66,1.546-6,1c-3.339-0.778-7.41-3.668-11.5-4c-3.641,5.078-8.567,0.247-13.5-0.5c-4.897-0.742-8.296,4.77-14,2.5c-2.632-1.048-6.404-4.41-11.5-3c-3.154,0.873-6.272,4.116-9.5,5c-2.915,0.798-5.877-1.014-8-1.5c-5.647-1.293-8.433,2.647-13,1.5c-2.042-0.513-3.28-2.318-5-3c-2.586-1.025-4.607-0.723-7-2c-0.667-0.667-1.333-1.333-2-2c-4,0-8,0-12,0c-0.788-0.266-1.711-1.735-2.5-2c-2.288-0.769-15.792-0.718-17.5,0c-1.283,0.539-3.721,2.519-5.5,3c-2.606,0.705-3.513-0.84-6-1c-0.985,1.586-2.277,2.684-3.5,4c-5.542,0.053-10.706-0.618-15-1c-1.055,1.718-1.689,2.406-4.5,2.5c-1.013-1.06-1.471-1.325-3.5-1.5c-0.986,1.424-1.506,1.507-4,1.5c-1.993-1.967-3.643-0.51-7-1.5c-1.853-0.546-7.212-4.996-10-4c-0.654,0.233-2.018,1.861-3,2c-2.529,0.358-3.821-3.567-7-2c-3.888,1.916-6.714,5.653-12,6c-6.722-5.98-12.787,1.042-18,2C-1,580.968-1,92.832-1,80z'/%3E%3C/svg%3E") bottom;
    background-size: 200%;
}

.bunny {
    width: 25vw;
    height: auto;
    position: absolute;
    left: -10vw;
    top: -7vh;
    z-index: 2;
}

.clip {
    width: 15vw;
    height: auto;
    transform: rotate(7deg);
    position: absolute;
    right: 15vw;
    top: -5vh;
    z-index: 1;
}

.cat {
    width: 30vw;
    position: absolute;
    top: 26vh;
    right: 18vw;
    transform: translateY(-50%) translateX(50%);
    z-index: 1;
}

.sakura1 {
    width: 35vw;
    height: auto;
    position: absolute;
    right: -15vw;
    bottom: -7vh;
    z-index: 2;
}

.sakura2 {
    width: 35vw;
    height: auto;
    position: absolute;
    right: -2vw;
    bottom: -9vh;
    z-index: 2;
}

.dragon {
    width: 90vw;
    height: auto;
    position: absolute;
    right: -20vw;
    top: -3vh;
}

.astrology {
    width: 80vw;
    height: auto;
    position: absolute;
    left: -25%;
    bottom: 2%;
    z-index: -1;
}

.letter1 {
    width: 130vw;
    height: auto;
    position: absolute;
    left: -50vw;
    top: 15vh;
    z-index: -5;
    opacity: 0.7;
}

.letter2 {
    width: 130vw;
    height: auto;
    position: absolute;
    right: -50vw;
    bottom: 10vh;
    z-index: -5;
    opacity: 0.7;
}

/* WELCOME */
.welcome {
    display: flex;
    flex-direction: column;
    position: relative;
}

.welcome1 {
    height: 70vh;
    margin: 3rem 0;
    background-color: white;
    position: relative;
}

.welcome h2 {
    padding: 1.2rem 0 0.3rem;
    font-size: 2.5rem;
}

.welcome-title {
    border: 5px solid var(--dark-brown);
    background-color: var(--light-brown);
    width: 80%;
    rotate: -10deg;
    margin: 1rem auto;
}

.welcome-clip {
    width: 18vw;
    position: absolute;
    right: 10vw;
    top: -7vh;
    z-index: 1;
}

.me {
    width: 75vw;
    margin: 1rem 0;
}

.welcome2 {
    height: 80vh;
    background-color: white;
}

.welcome-background-elements {
    position: absolute;
    top: 0;
    left: -2rem;
    right: -2rem;
    width: auto;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

h3 {
    text-align: start;
    color: white;
}

.welcome p {
    text-align: start;
    font-size: 1.2rem;
    color: white;
}

.welcome2-text {
    background-color: var(--dark-brown);
    padding: 2rem 2rem;
    width: 70%;
    margin: 2rem auto;
}

.squares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: -1rem;
}

.square {
    width: 30vw;
    height: 30vw;
}

.square1 {
    rotate: 13deg;
    background-color: var(--dark-brown);
}
.square2 {
    rotate: -10deg;
    background-color: var(--dark-brown);
}
.square3 {
    rotate: -5deg;
    background-color: var(--dark-brown);
}

.projects {
    margin: 10rem 0;
    height: 50vh;
}

.projects-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 0 2rem;
}

.project-card {
    flex-shrink: 0;
    width: 70vw;
    height: 70vw;
    background-color: var(--dark-brown);
    border-radius: 50px;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

h4 {
    text-align: start;
    margin: 1.5rem 2rem;
    color: white;
}

.projects a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 4rem 0 2rem 0;
}


/* 💻 Ab Tablet-Breite (z.B. 768px): Mehr Abstand, leicht kleinere Bildgröße relativ zum Viewport */
@media (min-width: 768px) {
    /* INTRO */
    .intro-card {
        height: 40vh;
        width: 100%;
        padding: 2rem;
        margin: auto;
    }

    .intro-card h1 {
        font-size: 6rem;
    }

    .quote p {
        padding: 0 2rem;
    }

    .bunny {
        left: -8vw;
        top: -7vh;
    }

    .clip {
        width: 10vw;
        right: 15vw;
        top: -6vh;
    }

    .cat {
        width: 20vw;
        top: 38vw;
        right: 10vh;
    }

    .sakura1 {
        width: 30vw;
        right: -10vw;
        bottom: -7vh;
    }

    .sakura2 {
        width: 30vw;
        right: 2vw;
        bottom: -10vh;
    }

    .dragon {
        width: 80vw;
        right: -10vw;
        top: -3vh;
    }

    .astrology {
        width: 60vw;
        left: -10vw;
    }

    .letter1 {
        width: 90vw;
        top: 10vh;
        left: -2vw;
    }

    .letter2 {
        width: 90vw;
        bottom: 10vh;
        right: -2vw;
    }

    /* WELCOME */
    .welcome {
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-content: start;
        margin: 5rem auto;
    }

    .welcome1 {
        flex: 1;
        margin: 0;
        height: 70vh;
    }

    .welcome h2 {
        font-size: 2.2rem;
    }

    .welcome-clip {
        width: 10vw;
        position: absolute;
        left: 32vw;
        top: -6vh;
    }

    .me {
        width: 40vw;
    }

    .welcome2 {
        flex: 1;
        height: 70vh;
    }

    .welcome h3 {
        font-size: 2rem;
    }

    .welcome p {
        font-size: 1.2rem;
    }

    .welcome2-text {
        padding: 4rem 2.5rem;
        width: 70%;
    }

    .squares {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: -1rem;
    }

    .square {
        width: 15vw;
        height: 18vw;
    }

    /* PROJECTS */
    .projects {
        margin: 10rem 4rem;
        height: 50vh;
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0;
    }

    .projects-container {
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 0 2rem;
    }

    .project-card {
        height: 25vw;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 30%;
    }

    h4 {
        margin: 2rem;
    }

    .projects a {
        font-size: 1.2rem;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    /* INTRO */
    .intro-card {
        height: 35vw;
        max-width: 60vw;
        padding: 2rem;
        margin: auto;
    }

    .intro-card h1 {
        font-size: 9rem;
        margin: 1.5rem;
    }

    .quote {
        margin: 1rem auto;
        width: 75%;
    }

    .quote p {
        font-size: 1.7rem;
        padding: 0 5rem;
        margin: 2rem;
    }

    .bunny {
        width: 15vw;
        left: -7vw;
        top: -5vh;
    }

    .clip {
        width: 7vw;
        right: 15vw;
        top: -7vh;
    }

    .cat {
        width: 12vw;
        top: 22vh;
        right: 13vw;
    }

    .sakura1 {
        width: 20vw;
        right: -10vw;
        bottom: -10vh;
    }

    .sakura2 {
        width: 20vw;
        right: -3vw;
        bottom: -12vh;
    }

    .dragon {
        width: 50vw;
        right: 0;
        top: -5vh;
    }

    .astrology {
        width: 35vw;
        left: -5vw;
        bottom: 2vh;
    }

    .letter1 {
        width: 65vw;
        left: 2vw;
        top: 12vh;
    }

    .letter2 {
        width: 65vw;
        right: 2vw;
        bottom: 5vh;
    }

    /* WELCOME */
    .welcome {
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-content: start;
        margin: 5rem auto;
    }

    .welcome1 {
        height: 80vh;
    }

    .welcome h2 {
        padding: 1.2rem 0 0.3rem;
        font-size: 3rem;
    }

    .welcome-title {
        width: 70%;
        margin-top: 0;
    }

    .welcome-clip {
        width: 7vw;
        left: 34vw;
        top: -7vh;
    }

    .me {
        width: 20vw;
    }

    .welcome2 {
        height: 80vh;
    }

    .welcome p {
        font-size: 1.5rem;
    }

    .welcome2-text {
        padding: 3rem;
        width: 60%;
    }

    .squares {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: -1rem;
    }

    .square {
        width: 13vw;
        height: 15vw;
    }

    /* PROJECTS */
    .projects {
        margin: 10rem 12rem;
        height: 100vh;
    }
}
