@import url("App.css");

body {
    background-color: var(--medium-brown);
}

/* INTRO */
.intro {
    height: 90vh;
    display: flex;
    position: relative;
}

.intro-background-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.intro-card {
    margin: auto;
    background: var(--light-brown);
    max-width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 30%);
}

.intro-card h1 {
    font-size: 4rem;
}

.quote {
    font-family: var(--quotes-font), serif;
    color: #000;
    text-align: center;
    background-color: var(--brown);
    margin: 1rem 1rem 3rem 1rem;
    position: relative;
    height: 180px;
}

.quote p {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
}

.intro-card p::before {
    content: "";
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    left: 0;
    transform: rotate(180deg) scaleX(1);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 600'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23A67244' d='M-1,80c266.64,0,533.359,0,800,0c0,12.999,0,501.301,0,514.3c-1.979-0.251-3.19-1.51-5.5-1c-2.073,0.458-4.398,3.336-8,2c-1.363-0.506-0.945-1.542-3-2c-4.889,6.421-17.787,5.443-26.5,3.5c-5.321-1.187-7.796,2.695-12,1.5c-2.144-0.609-2.77-3.334-5-2.5c-2.848,0.736-2.954,2.354-7,2.5c-0.38-0.469-4.143-3.869-4.5-4c-2.584-0.948-6.562,0.988-8.5-0.5c-0.765-0.587-1.982-3.179-2.5-4c-3.338,1.996-12.865,4.709-19,3c-2.279-0.635-3.527-4.016-7-3c-0.5,0.5-1,1-1.5,1.5c-3.666,0-7.334,0-11,0c-2.354,0.689-6.891,2.412-9,3c-2.5-0.333-5-0.667-7.5-1c-4.039,1.34-3.785,4.881-11,5c-2.197-3.009-4.073-1.426-8.5-2.5c-0.238-0.058-0.982-1.084-1.5-1c-1.27,0.206-2.033,2.104-4.5,1.5c-2.456-0.601-4.021-3.434-6-4c-2.458-0.703-5.953,1.17-8.5-0.5c-1.283-0.842-2.55-3.348-4-4c-1.666-0.167-3.334-0.333-5-0.5c-0.666-0.667-1.334-1.333-2-2c-2.108-0.574-2.424,1.148-3.5,1.5c-2.5,0-5,0-7.5,0c-1.213,0.372-2.324,1.938-4.5,1.5c-2.477-0.498-3.352-2.81-5-3.5c-2.5,0.167-5,0.333-7.5,0.5c-0.653-0.161-2.545-1.396-3-1.5c-2.496-0.57-6.471,1.454-8,2c-2.333,0-4.667,0-7,0c-3.384,1.001-8.081,1.086-11.5,2c-3,0.167-6,0.333-9,0.5c-2.076,0.81-5.334,2.928-7.5,3.5c-4.587,1.211-14.058-4.523-17.5-4c-8.551,1.3-15.195,5.692-23,7c-4.572,0.766-8.705-2.709-14-1c-2.795,0.902-3.689,2.417-8,2.5c-0.082-0.11-14.328-8.949-14.5-9c-2.576-0.767-9.65,1.133-13.5,0.5c-1.744-0.287-1.166-2.031-3.5-1.5c-0.5,0.5-1,1-1.5,1.5c-4,0-8,0-12,0c-0.5,0.667-1,1.333-1.5,2c-2.643,1.622-6.873,0.754-9.5,0c-2.666,0-5.334,0-8,0c-2.848-0.902-13.672-4.712-16-1c-1.175,1.527-0.919,3.418-1.5,4.5c-0.59,0.401-0.841,0.387-2,0.5c-2.2-2.122-7.899,1.788-10,1c-1.471-0.552-1.547-1.891-4.5-2c0,0.333,0,0.667,0,1c0.376,0.536,0.301,0.473,0.5,1.5c-1.024,0.356-2.337,0.497-4,0.5c-0.573-0.728-1.001-1.1-1.5-2c-3.663,2.891-16.4,7.378-24,5c-1.621-0.507-1.684-2.654-4.5-2c-0.333,0.333-0.667,0.667-1,1c-4.166-0.167-8.334-0.333-12.5-0.5c-1.505,0.609-5.567,3.475-9,2.5c-0.5-0.5-1-1-1.5-1.5c-2.5-0.167-5-0.333-7.5-0.5c-0.5-0.5-1-1-1.5-1.5c-2.686-1.046-5.182-0.016-7.5-1c-1.642-0.697-2.621-2.479-4.5-3c-4.166-0.167-8.334-0.333-12.5-0.5c-0.951-0.283-1.863-1.735-2.5-2c-2.833,0-5.667,0-8.5,0c-1.544,1.963-6.576,5.229-9,6c-5-0.167-10-0.333-15-0.5c-0.333,0.5-0.667,1-1,1.5c-5.854,2.65-14.461-3.294-18-5c-2.541-1.225-3.66,1.546-6,1c-3.339-0.778-7.41-3.668-11.5-4c-3.641,5.078-8.567,0.247-13.5-0.5c-4.897-0.742-8.296,4.77-14,2.5c-2.632-1.048-6.404-4.41-11.5-3c-3.154,0.873-6.272,4.116-9.5,5c-2.915,0.798-5.877-1.014-8-1.5c-5.647-1.293-8.433,2.647-13,1.5c-2.042-0.513-3.28-2.318-5-3c-2.586-1.025-4.607-0.723-7-2c-0.667-0.667-1.333-1.333-2-2c-4,0-8,0-12,0c-0.788-0.266-1.711-1.735-2.5-2c-2.288-0.769-15.792-0.718-17.5,0c-1.283,0.539-3.721,2.519-5.5,3c-2.606,0.705-3.513-0.84-6-1c-0.985,1.586-2.277,2.684-3.5,4c-5.542,0.053-10.706-0.618-15-1c-1.055,1.718-1.689,2.406-4.5,2.5c-1.013-1.06-1.471-1.325-3.5-1.5c-0.986,1.424-1.506,1.507-4,1.5c-1.993-1.967-3.643-0.51-7-1.5c-1.853-0.546-7.212-4.996-10-4c-0.654,0.233-2.018,1.861-3,2c-2.529,0.358-3.821-3.567-7-2c-3.888,1.916-6.714,5.653-12,6c-6.722-5.98-12.787,1.042-18,2C-1,580.968-1,92.832-1,80z'/%3E%3C/svg%3E") bottom;
    background-size: 200%;
}

.intro-card p::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 20px;
    width: 100%;
    left: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 600'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23A67244' d='M-1,80c266.64,0,533.359,0,800,0c0,12.999,0,501.301,0,514.3c-1.979-0.251-3.19-1.51-5.5-1c-2.073,0.458-4.398,3.336-8,2c-1.363-0.506-0.945-1.542-3-2c-4.889,6.421-17.787,5.443-26.5,3.5c-5.321-1.187-7.796,2.695-12,1.5c-2.144-0.609-2.77-3.334-5-2.5c-2.848,0.736-2.954,2.354-7,2.5c-0.38-0.469-4.143-3.869-4.5-4c-2.584-0.948-6.562,0.988-8.5-0.5c-0.765-0.587-1.982-3.179-2.5-4c-3.338,1.996-12.865,4.709-19,3c-2.279-0.635-3.527-4.016-7-3c-0.5,0.5-1,1-1.5,1.5c-3.666,0-7.334,0-11,0c-2.354,0.689-6.891,2.412-9,3c-2.5-0.333-5-0.667-7.5-1c-4.039,1.34-3.785,4.881-11,5c-2.197-3.009-4.073-1.426-8.5-2.5c-0.238-0.058-0.982-1.084-1.5-1c-1.27,0.206-2.033,2.104-4.5,1.5c-2.456-0.601-4.021-3.434-6-4c-2.458-0.703-5.953,1.17-8.5-0.5c-1.283-0.842-2.55-3.348-4-4c-1.666-0.167-3.334-0.333-5-0.5c-0.666-0.667-1.334-1.333-2-2c-2.108-0.574-2.424,1.148-3.5,1.5c-2.5,0-5,0-7.5,0c-1.213,0.372-2.324,1.938-4.5,1.5c-2.477-0.498-3.352-2.81-5-3.5c-2.5,0.167-5,0.333-7.5,0.5c-0.653-0.161-2.545-1.396-3-1.5c-2.496-0.57-6.471,1.454-8,2c-2.333,0-4.667,0-7,0c-3.384,1.001-8.081,1.086-11.5,2c-3,0.167-6,0.333-9,0.5c-2.076,0.81-5.334,2.928-7.5,3.5c-4.587,1.211-14.058-4.523-17.5-4c-8.551,1.3-15.195,5.692-23,7c-4.572,0.766-8.705-2.709-14-1c-2.795,0.902-3.689,2.417-8,2.5c-0.082-0.11-14.328-8.949-14.5-9c-2.576-0.767-9.65,1.133-13.5,0.5c-1.744-0.287-1.166-2.031-3.5-1.5c-0.5,0.5-1,1-1.5,1.5c-4,0-8,0-12,0c-0.5,0.667-1,1.333-1.5,2c-2.643,1.622-6.873,0.754-9.5,0c-2.666,0-5.334,0-8,0c-2.848-0.902-13.672-4.712-16-1c-1.175,1.527-0.919,3.418-1.5,4.5c-0.59,0.401-0.841,0.387-2,0.5c-2.2-2.122-7.899,1.788-10,1c-1.471-0.552-1.547-1.891-4.5-2c0,0.333,0,0.667,0,1c0.376,0.536,0.301,0.473,0.5,1.5c-1.024,0.356-2.337,0.497-4,0.5c-0.573-0.728-1.001-1.1-1.5-2c-3.663,2.891-16.4,7.378-24,5c-1.621-0.507-1.684-2.654-4.5-2c-0.333,0.333-0.667,0.667-1,1c-4.166-0.167-8.334-0.333-12.5-0.5c-1.505,0.609-5.567,3.475-9,2.5c-0.5-0.5-1-1-1.5-1.5c-2.5-0.167-5-0.333-7.5-0.5c-0.5-0.5-1-1-1.5-1.5c-2.686-1.046-5.182-0.016-7.5-1c-1.642-0.697-2.621-2.479-4.5-3c-4.166-0.167-8.334-0.333-12.5-0.5c-0.951-0.283-1.863-1.735-2.5-2c-2.833,0-5.667,0-8.5,0c-1.544,1.963-6.576,5.229-9,6c-5-0.167-10-0.333-15-0.5c-0.333,0.5-0.667,1-1,1.5c-5.854,2.65-14.461-3.294-18-5c-2.541-1.225-3.66,1.546-6,1c-3.339-0.778-7.41-3.668-11.5-4c-3.641,5.078-8.567,0.247-13.5-0.5c-4.897-0.742-8.296,4.77-14,2.5c-2.632-1.048-6.404-4.41-11.5-3c-3.154,0.873-6.272,4.116-9.5,5c-2.915,0.798-5.877-1.014-8-1.5c-5.647-1.293-8.433,2.647-13,1.5c-2.042-0.513-3.28-2.318-5-3c-2.586-1.025-4.607-0.723-7-2c-0.667-0.667-1.333-1.333-2-2c-4,0-8,0-12,0c-0.788-0.266-1.711-1.735-2.5-2c-2.288-0.769-15.792-0.718-17.5,0c-1.283,0.539-3.721,2.519-5.5,3c-2.606,0.705-3.513-0.84-6-1c-0.985,1.586-2.277,2.684-3.5,4c-5.542,0.053-10.706-0.618-15-1c-1.055,1.718-1.689,2.406-4.5,2.5c-1.013-1.06-1.471-1.325-3.5-1.5c-0.986,1.424-1.506,1.507-4,1.5c-1.993-1.967-3.643-0.51-7-1.5c-1.853-0.546-7.212-4.996-10-4c-0.654,0.233-2.018,1.861-3,2c-2.529,0.358-3.821-3.567-7-2c-3.888,1.916-6.714,5.653-12,6c-6.722-5.98-12.787,1.042-18,2C-1,580.968-1,92.832-1,80z'/%3E%3C/svg%3E") bottom;
    background-size: 200%;
}

.clip {
    width: 70px;
    height: auto;
    transform: rotate(7deg);
    position: absolute;
    right: 20%;
    top: 24%;
    z-index: 1;
}

.cat {
    width: 120px;
    position: absolute;
    top: 48%;
    right: 20%;
    transform: translateY(-50%) translateX(50%);
    z-index: 1;
}

.dragon {
    width: 400px;
    height: auto;
    position: absolute;
    right: -20%;
    top: 5%;
    z-index: -1;
}

.astrology {
    width: 320px;
    height: auto;
    position: absolute;
    left: -25%;
    bottom: 2%;
    z-index: -1;
}

.bunny {
    width: 120px;
    height: auto;
    position: absolute;
    left: -3%;
    top: 20%;
    z-index: 2;
}

.letter1 {
    width: 550px;
    height: auto;
    position: absolute;
    left: -50%;
    top: 15%;
    z-index: -5;
    opacity: 0.7;
}

.letter2 {
    width: 550px;
    height: auto;
    position: absolute;
    right: -50%;
    bottom: 10%;
    z-index: -5;
    opacity: 0.7;
}

.sakura1 {
    width: 150px;
    height: auto;
    position: absolute;
    right: -5%;
    bottom: 12%;
    z-index: 2;
}

.sakura2 {
    width: 150px;
    height: auto;
    position: absolute;
    right: 7%;
    bottom: 10%;
    z-index: 2;
}

/* WELCOME */
.welcome {
    display: flex;
    flex-direction: column;
    position: relative;
}

.welcome1 {
    height: 100vh;
    margin: 3rem 0;
}

.welcome2 {
    height: 100vh;
}

.welcome-background-elements {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.welcome h2 {
    border: 3px solid var(--dark-brown);
    background-color: var(--light-brown);
    width: 80%;
    padding: 1.2rem 0 0.3rem;
    font-size: 2.5rem;
    rotate: -10deg;
    margin-left: auto;
    margin-right: auto;
}

.welcome h3 {
    text-align: start;
    color: white;
}

.welcome p {
    text-align: start;
    font-size: 1.2rem;
    color: white;
}

.welcome-clip {
    width: 60px;

}

.welcome2-text {
    background-color: var(--dark-brown);
    padding: 2rem 1.5rem;
    height: 30%;
}

.me {
    width: 300px;
    margin: 1rem 0;
}

.file1 {
    position: absolute;
    width: 800px;
    top: 10%;
    left: -30%;
    rotate: -90deg;
}



@media (min-width: 768px) {
    /* INTRO */
    .intro-card {
        max-width: 70%;
        padding: 2rem;
    }

    .intro-card h1 {
        font-size: 7rem;
        margin: 1.5rem;
    }

    .intro-card p {
        font-size: 1.5rem;
        padding: 2rem 5rem;
        margin: 1.5rem 2rem;
    }

    .intro-card img {
        width: 126px;
        height: 87px;
        position: absolute;
        top: 58%;
        right: 28%;
        transform: translateY(-50%) translateX(50%);
    }

    .clip {
        width: 100px;
        right: 20%;
        top: 23%;
    }

    .cat {
        width: 200px;
        position: absolute;
        top: 52%;
        right: 23%;
        transform: translateY(-50%) translateX(50%);
        z-index: 1;
    }

    .dragon {
        width: 700px;
        right: 0;
        top: 0;
    }

    .astrology {
        width: 500px;
        left: -2%;
        bottom: 5%;
    }

    .bunny {
        width: 250px;
        left: 8%;
        top: 23%;
    }

    .letter1 {
        width: 900px;
        left: 2%;
        top: 12%;
    }

    .letter2 {
        width: 900px;
        right: 2%;
        bottom: 5%;
    }

    .sakura1 {
        width: 250px;
        right: 7%;
        bottom: 20%;
    }

    .sakura2 {
        width: 250px;
        right: 12%;
        bottom: 17%;
    }
}

