@import url("App.css");

@font-face {
    font-family: 'myHandwriting';
    src: url('../assets/fonts/Myhandwriting-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--dark-green);
}

/* INTRO */
.intro-section {
    height: 100vh;
    background: url("../assets/images/mountain-bg.svg") center center no-repeat;
    background-size: cover;
    padding: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
}

.letter {
    background-color: var(--light-brown);
    height: 50vh;
    width: 80vw;
    margin: auto;
    padding: 0.5rem;
    box-shadow: 4px 4px 50px 0 rgba(0, 0, 0, 0.40);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3.5rem;
}

.letter-header {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: start;
    justify-content: space-between;
}

.letter-header-text {
    width: 50vw;
}

.letter-header h3 {
    color: #464646;
    font-family: HelveticaNeue, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: start;
}

.letter-header p {
    color: #464646;
    font-family: HelveticaNeue, sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: start;
    margin: 0;
}

.letter-header img {
    width: 30vw;
    height: auto;
    object-fit: contain;
}

.letter-text h2 {
    color: #722;
    text-align: center;
    font-family: var(--header-font), serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.letter-text img {
    width: 60vw;
    height: auto;
    object-fit: contain;
}

.handwriting {
    font-family: 'myHandwriting', sans-serif;
    color: rgba(41, 41, 41, 0.9);
    font-size: 1.5rem;
    width: 60vw;
    margin: 2rem auto;
}

/* WELCOME */
.welcome-section {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-brown);
    padding: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;

}

.welcome-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.welcome-container-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: var(--brown);
}

.welcome-container-part1-h2 {
    width: 60vw;
    padding: 1rem 3rem 0.5rem;
    background-color: var(--light-brown);
    border: 8px solid var(--dark-brown);
    transform: rotate(-7deg);
    margin: 0 auto;
}

.welcome-container-part1-h2 h2 {
    color: var(--dark-brown);
    text-align: center;
    font-family: var(--header-font), serif;
    font-size: 2rem;
}

.me-img {
    width: 80vw;
    height: auto;
}

.stampBG {
    position: absolute;

    /* Schritt 1: Das Element zur Mitte des übergeordneten Elements verschieben */
    top: 50%;
    left: 50%;

    /* Schritt 2: Korrigieren der Position um die HÄLFTE der eigenen Breite/Höhe */
    /* Da es um 90 Grad gedreht ist, sind Höhe und Breite vertauscht! */
    /* -50% der Breiten-Anweisung (horizontal) */
    /* -50% der Höhen-Anweisung (vertikal) */
    transform: translate(-50%, -50%) rotate(-90deg);

    width: 70vh;
    height: auto;

    /* margin: auto; wird nicht mehr benötigt */
    z-index: 0;
}

.welcome-container-part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    padding: 1.5rem;
}

.welcome-container-part2-text {
    display: flex;
    flex-direction: column;
}

.welcome-container-part2-text h3 {
    color: #1B1B1B;
    font-family: var(--header-font), serif;
    font-size: 1.5rem;
    text-align: start;
}

.welcome-container-part2-text p {
    color: #1B1B1B;
    font-family: HelveticaNeue, sans-serif;
    font-size: 1.2rem;
    text-align: start;
    margin: 0;
}

.welcome-container-part2-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 2rem;
}

.bitch {
    background-color: var(--light-brown);
    position: relative;
    rotate: 7deg;
    height: 20vh;
    aspect-ratio: 3/4;
}

.fancy-button {
    background-color: var(--red);
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    transition: 0.4s ease;
}

.fancy-button:hover {
    background-color: #c87b7b;
    transition: 0.4s ease;
    box-shadow: 0.3rem 0.4rem rgb(48, 31, 10);
}

/* PROJECT */
.projects-section {
    margin: 10rem 0;
}

.projects-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 0 2rem;
}

.project-card {
    flex-shrink: 0;
    width: 70vw;
    height: 70vw;
    background-color: var(--dark-brown);
    border-radius: 50px;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

h3 {
    color: white;
}

h4 {
    text-align: start;
    margin: 1.5rem 2rem;
    color: white;
}

.projects-section a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 4rem 0 2rem 0;
}


/* 💻 Ab Tablet-Breite (z.B. 768px): Mehr Abstand, leicht kleinere Bildgröße relativ zum Viewport */
@media (min-width: 768px) {
    /* INTRO */
    .letter {
        height: 400px;
        gap: 1rem;
    }

    .letter-header {
        gap: 6rem;
    }

    .letter-header h3 {
        font-size: 1.2rem;
    }

    .letter-header p {
        font-size: 0.8rem;
    }

    .letter-header img {
        width: 17vw;
    }

    .letter-text h2 {
        font-size: 2rem;
    }

    .letter-text img {
        width: 30vw;
    }

    .handwriting {
        font-size: 2rem;
        margin: 3rem auto;
    }

    /* WELCOME */
    .welcome-container {
        margin: 0 5rem;
    }

    .welcome-container-part1 {
    }

    .welcome-container-part1-h2 {
        width: 30vw;
    }

    .me-img {
        width: 30vw;
        margin: 0 auto;
    }

    .welcome-container-part2-images {
        flex-direction: row;
    }

    .bitch {
        height: 20vh;
    }

    /* PROJECTS */
    .projects-section {
        margin: 10rem 4rem;
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0;
    }

    .projects-container {
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 0 2rem;
    }

    .project-card {
        height: 25vw;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 30%;
    }

    h4 {
        margin: 2rem;
    }

    .projects-section a {
        font-size: 1.2rem;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    /* INTRO */
    .letter {
        width: 50vw;
        gap: 1rem;
    }

    .letter-header-text {
        width: 25vw;
    }

    .letter-header img {
        width: 13vw;
    }

    .letter-text h2 {
        font-size: 2rem;
    }

    .letter-text img {
        width: 20vw;
    }

    .handwriting {
        width: 40vw;
    }


    /* WELCOME */
    .welcome-container {
        flex-direction: row;
        max-width: 70%;
        margin: 0 auto;
        background-color: snow;
    }

    .welcome-container-part1 {
        flex: 1 1 0;
        height: 90vh;
        background: none;
    }

    .welcome-container-part1-h2 {
        width: 15vw;
    }

    .me-img {
        width: 20vw;
    }

    .welcome-container-part2 {
        flex: 1 1 0;
        background: none;
    }

    .welcome-container-part2-text {
        justify-content: start;
        padding: 0 2rem;
    }

    .welcome-container-part2-images {
        flex-direction: row;
        gap: 0.2rem;
    }

    .bitch {
        height: 25vh;
    }

    /* PROJECTS */
    .projects-section {
        max-width: 70%;
        margin: 10rem auto;
    }
}

@media (min-aspect-ratio: 1/12) {

}
