@import url("App.css");

.work-intro {
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stripe1 {
    background-color: #772222;
    width: 110vw;
    height: 15vw;
    margin-left: -2rem;
    rotate: -3deg;
}

.stripe2 {
    background-color: #772222;
    width: 110vw;
    height: 15vw;
    margin-left: -2rem;
}

.work-intro h2 {
    font-size: 2.5rem;
    margin: 3rem 0;
}

.work-intro p {
    font-size: 1.2rem;
    text-align: start;
    margin: 3rem 0;
}

.projects-overview h3 {
    text-align: start;
    font-size: 1.5rem;
    margin: 1.2rem 0;
}

.ps {
    width: 100%;
    height: 300px;
    background-color: #772222;
    margin: 2rem 0;
}


